html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
position: absolute;
left: 0;
right: 0;
height: 100%

}

#map {
  width: 75%;
  min-width: 125px;
  height: 100%;
  float: left;
  z-index: 0;
}

#places-list-container {
  float: left;
  width: 25%;
  min-width: 175px;
  height: 100%;
  z-index: 0;
}

    #places-list-item {
      padding: 2px 0 2px 5px;
      list-style: none;
      cursor: pointer;
      font-size: 10px;
    }


h1 {
  font-size: 18px;
  padding: 10px;
}

h2 {
  font-size: 14px;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
  padding: 10px;
  font-size: 14px;
}

#places-to-show-container {
  background-color: green;
  height: 40px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

    #places-to-show-header {
      padding-right: 20px;
    }

    #places-to-show-name {
      list-style: none;
      padding: 10px;
      display: inline-block;
      cursor: pointer;
    }

header {
  background-color: red;
  height: 150px;

}

#header-title {
  height:60px;
  background-color: grey;
  display: flex;
  justify-content: center;
}

#search-area {
  background-color: blue;
  height:50px;
}

#search-bar {
  padding:8px 8px 8px 30px;
	margin:6px;
}

#search-bar:focus {
  outline: none;
}

.rounded {
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}
