html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #183fca;
  text-decoration: none;

}

a:visited {
  color: #183fca;
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 3px #a3b5f3;
  cursor: pointer;
}

.center-content {
  text-align: center;
}


h1 {
  font-size: 20px;
  padding: 1.5%;

}

h2 {
  font-size: 18px;
  padding: 2px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 2px;
  font-size: 16px;
}

#top-section-wrapper {
  background-color: #5d8f92;
}

#header {
  width:100%;
  padding: 3px;
  font-family: 'Satisfy', cursive;
  vertical-align: middle;
  overflow: hidden;
}

#places-to-show-container {
  max-height: 30px;
  width: 100%;
  padding: 1px;
  margin: 0;
}

#places-to-show-categories {


}


#places-to-show-header {
  margin: 0;
  padding: 1.5%;
  white-space: nowrap;
  overflow: hidden;
}

 .centered {
   font-family: 'Satisfy', cursive;
   display:table;
  }

 .places-child {
   padding: 5px 10px;
   display: inline-block;
   vertical-align: middle;
 }

    #places-to-show-name:hover {
      text-decoration: underline;
      cursor: pointer;
    }

#search-area {
  padding: 0 2px 15px 5px;
  max-height:40px;
  font-family: 'Roboto', sans-serif;
}

#search-bar {
  padding:6px 6px 6px 25px;
	margin:2px;
  width: auto;
}

#search-bar:focus {
  outline: none;
}

.rounded {
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}


#map-section-wrapper {
  height: 100%;
  position: relative;
  min-width: 275px;

}

#places-list-container {
  left: 0;
  height: 100%;
  z-index: 5;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  background: rgba(93, 143, 146, 0.2);
  width: 30%;
  min-width: 185px;

}

    #places-list-item {
      padding: 1px 2px 1px 10px;
      list-style: none;
      cursor: pointer;
      font-size: 16px;
    }


  #map {
    min-width: 125px;
    height: 100%;
    z-index: 0;
    position: absolute;
    width: 100%;
  }

  #infowindow-content {
    font-family: 'Roboto', sans-serif;
    font-size: 6px;
  }

footer {
  font-size: 8px;
  text-align: right;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
  /*background-color: #5d8f92;*/
  height: 100%;
}

@media (min-width: 330px) {

  #infowindow-content {
    font-size: 10px;
  }

}

@media (min-width: 600px) {
  h1 {
    font-size: 26px;
    padding: 8px;
  }

  h2 {
    font-size: 22px;
    padding: 6px;
  }

  li {
    padding: 8px;
    font-size: 20px;
  }

  #infowindow-content {
    font-size: 12px;
  }

  .places-child {
    padding: 5px 15px;

  }

@media (min-width: 780px) {

  #infowindow-content {
    font-size: 13px;
  }

  #places-list-container {
    width: 25%;
  }

  #places-list-item {
    font-size: 12px;

}

}

@media (min-width: 1150px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  li {
    font-size: 24px;

  }

  #places-list-container {
    width: 20%;
  }

  #infowindow-content {
    font-size: 14px;
  }
}
